* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --margin-top: 4em;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:is(.login, .register, .dashboard, .create-profile, .profiles, .add-experience, .add-education, .profiles, .profile, .not-found) {
  margin-top: var(--margin-top);
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  font-weight: 200;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem !important;
  }
}
