.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:is(.login, .register, .dashboard, .create-profile, .profiles) {
  margin-top: var(--margin-top);
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  font-weight: 200;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem !important;
  }
}
