.btn-info {
  background: var(--clr-fb);
}

.btn-info:hover {
  background: var(--clr-fb-light);
}

.btn-danger {
  background: var(--clr-danger);
  border: 0;
}

.btn-danger:hover {
  background: var(--clr-danger);
}
