* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --margin-top-main: 5em;
  --clr-fb: #087bea;
  --clr-fb-light: #3590e6;
  --clr-bg-fb: #f0f2f5;
  --clr-navlink: #dfe2e9;
  --clr-light: rgb(243, 241, 241);
  --clr-dark: rgb(36, 35, 35);
  --clr-light-500: rgba(80, 79, 79, 0.835);
  --clr-danger: rgba(243, 61, 61, 0.877);
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: var(--clr-bg-fb);
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: var(--margin-top-main);
}

.bg-info,
.btn-blue {
  background: var(--clr-fb) !important;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem !important;
  }
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  font-weight: 200;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.btn-info {
  background: var(--clr-fb);
}
.btn-info:hover {
  background: var(--clr-fb-light);
}

.btn-danger {
  background: var(--clr-danger);
  border: 0;
}
.btn-danger:hover {
  background: var(--clr-danger);
}

.profile-actions {
  margin-bottom: 60px;
}

.experience {
  margin-bottom: 3em;
}

.primary {
  color: var(--clr-fb) !important;
}

.footer {
  position: relative;
  z-index: 5;
  margin-top: auto;
}

.landing {
  position: relative;
  background: var(--clr-bg-fb);
}

.landing-inner {
  padding-top: 80px;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 9;
  background: var(--clr-fb) !important;
}

.nav-link {
  color: var(--clr-navlink) !important;
}
.nav-link:hover {
  color: var(--clr-light) !important;
}

.navbar-avatar-image {
  width: 25px;
  margin-right: 5px;
}

@media screen and (max-width: 564px) {
  .navbar {
    padding-bottom: 0.7em;
  }

  li {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link.developers {
    padding-top: 1.8em;
  }

  .navbar-avatar-image {
    margin-right: 0.5em;
    width: 20px;
  }
}
.btn-blue {
  color: var(--clr-light);
}
.btn-blue:hover {
  color: var(--clr-light) !important;
  background: var(--clr-fb-light) !important;
}

.liked-post {
  color: var(--clr-fb) !important;
}

.poster-name {
  font-weight: 400;
  font-size: 1.1rem;
}

.post-item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-item__actionsContainer {
  display: flex;
  justify-content: flex-end;
}

.text-dark {
  font-weight: 300;
  color: var(--clr-light-500) !important;
}

.instagram {
  color: #d45273;
}

.youtube {
  color: #ff0000;
}

.linkedin {
  color: #0a66c2;
}

.twitter {
  color: #1da1f2;
}

.website {
  color: #4e98d5;
}

.skillset {
  color: var(--clr-fb);
}

.lead {
  font-size: 0.9rem;
}

.badge-container {
  height: 20px;
  display: flex;
  justify-content: flex-end;
}
.badge-container span {
  margin-left: 0.2em;
}

.badge-info {
  background: #dba247;
}

.badge-success {
  background: rgba(75, 236, 75, 0.952);
}

.badge-secondary {
  background-color: rgba(93, 91, 91, 0.877);
}

/*# sourceMappingURL=main.css.map */
