.btn-blue {
  color: var(--clr-light);
}

.btn-blue:hover {
  color: var(--clr-light) !important;
  background: var(--clr-fb-light) !important;
}

.liked-post {
  color: var(--clr-fb) !important;
}
.poster-name {
  font-weight: 400;
  font-size: 1.1rem;
}

.post-item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-item__actionsContainer {
  display: flex;
  justify-content: flex-end;
}
