.btn-info {
  background: var(--clr-fb);

  &:hover {
    background: var(--clr-fb-light);
  }
}

.btn-danger {
  background: var(--clr-danger);
  border: 0;

  &:hover {
    background: var(--clr-danger);
  }
}
