.navbar {
  position: absolute;
  width: 100%;
  z-index: 9;
  background: var(--clr-fb) !important;
}

.nav-link {
  color: var(--clr-navlink) !important;

  &:hover {
    color: var(--clr-light) !important;
  }
}

.navbar-avatar-image {
  width: 25px;
  margin-right: 5px;
}

@media screen and (max-width: 564px) {
  .navbar {
    padding-bottom: 0.7em;
  }

  li {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link.developers {
    padding-top: 1.8em;
  }

  .navbar-avatar-image {
    margin-right: 0.5em;
    width: 20px;
  }
}
